@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
}

/* @import url('./assets/fonts/fonts.css'); */
@font-face {
  font-family: 'Britania Ligatura';
  src: url('./assets/fonts/britania/Britania_Ligatura.eot');
  src: url('./assets/fonts/britania/Britania_Ligatura.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/britania/Britania_Ligatura.woff2') format('woff2'),
    url('./assets/fonts/britania/Britania_Ligatura.woff') format('woff'),
    url('./assets/fonts/britania/Britania_Ligatura.ttf') format('truetype'),
    url('./assets/fonts/britania/Britania_Ligatura.svg#Britania_Ligatura') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/Mont-Bold.eot');
  src: url('./assets/fonts/mont/Mont-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/Mont-Bold.woff2') format('woff2'),
    url('./assets/fonts/mont/Mont-Bold.woff') format('woff'),
    url('./assets/fonts/mont/Mont-Bold.ttf') format('truetype'),
    url('./assets/fonts/mont/Mont-Bold.svg#Mont-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/Mont-ExtraLight.eot');
  src: url('./assets/fonts/mont/Mont-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/Mont-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/mont/Mont-ExtraLight.woff') format('woff'),
    url('./assets/fonts/mont/Mont-ExtraLight.ttf') format('truetype'),
    url('./assets/fonts/mont/Mont-ExtraLight.svg#Mont-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/Mont-Black.eot');
  src: url('./assets/fonts/mont/Mont-Black.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/Mont-Black.woff2') format('woff2'),
    url('./assets/fonts/mont/Mont-Black.woff') format('woff'),
    url('./assets/fonts/mont/Mont-Black.ttf') format('truetype'),
    url('./assets/fonts/mont/Mont-Black.svg#Mont-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Mont Book';
  src: url('./assets/fonts/mont/Mont-Book.eot');
  src: url('./assets/fonts/mont/Mont-Book.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/Mont-Book.woff2') format('woff2'),
    url('./assets/fonts/mont/Mont-Book.woff') format('woff'),
    url('./assets/fonts/mont/Mont-Book.ttf') format('truetype'),
    url('./assets/fonts/mont/Mont-Book.svg#Mont-Book') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/Mont-Thin.eot');
  src: url('./assets/fonts/mont/Mont-Thin.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/Mont-Thin.woff2') format('woff2'),
    url('./assets/fonts/mont/Mont-Thin.woff') format('woff'),
    url('./assets/fonts/mont/Mont-Thin.ttf') format('truetype'),
    url('./assets/fonts/mont/Mont-Thin.svg#Mont-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/Mont-SemiBold.eot');
  src: url('./assets/fonts/mont/Mont-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/Mont-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/mont/Mont-SemiBold.woff') format('woff'),
    url('./assets/fonts/mont/Mont-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/mont/Mont-SemiBold.svg#Mont-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}




@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/mont-Light.eot');
  src: url('./assets/fonts/mont/mont-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/mont-Light.woff2') format('woff2'),
    url('./assets/fonts/mont/mont-Light.woff') format('woff'),
    url('./assets/fonts/mont/mont-Light.ttf') format('truetype'),
    url('./assets/fonts/mont/mont-Light.svg#Mont-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/mont-Heavy.eot');
  src: url('./assets/fonts/mont/mont-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/mont-Heavy.woff2') format('woff2'),
    url('./assets/fonts/mont/mont-Heavy.woff') format('woff'),
    url('./assets/fonts/mont/mont-Heavy.ttf') format('truetype'),
    url('./assets/fonts/mont/mont-Heavy.svg#Mont-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('./assets/fonts/mont/Mont-Regular.eot');
  src: url('./assets/fonts/mont/mont-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/mont/mont-Regular.woff2') format('woff2'),
    url('./assets/fonts/mont/mont-Regular.woff') format('woff'),
    url('./assets/fonts/mont/mont-Regular.ttf') format('truetype'),
    url('./assets/fonts/mont/mont-Regular.svg#Mont-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* fonts  */
/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
} */
* {
  font-family: 'Mont' !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: 'Mont' !important;

}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Britania Ligatura' !important;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: 'Mont' !important;
}

button:hover {
  border-color: none;
  background-color: none !important;
}

button:focus,
button:focus-visible {
  outline: none;
}

/* main-tabs */
.main-tabs {
  /* @apply bg-primary; */
}

.tabs-lsit .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  /* @apply text-primary; */
}

.tabs-lsit span.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  /* @apply bg-primary; */
  /* left: 33px !important; */
  /* width: 25px !important; */

}

/* sub-tabs */
/* .main-tabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-family: 'Mont' !important;
  text-transform: capitalize !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin-right: 20px;
}

.sub-tabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  margin-right: 20px;
  @apply text-txt-color;
}

.sub-tabs .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff;
}

.sub-tabs .css-1aquho2-MuiTabs-indicator {
  @apply bg-primary;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  color: #fff;
} */

.main-tabs .css-1gsv261 {
  border-bottom: unset;
}

.sub-tabs .sub-tab-panel {
  padding: 24px 10px;
}

.main-sel-scr {
  background-image: url('assets/images/backgrounds/main-bg-scr.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fixed.inset-0.z-50.bg-black\/80.data-\[state\=open\]\:animate-in.data-\[state\=closed\]\:animate-out.data-\[state\=closed\]\:fade-out-0.data-\[state\=open\]\:fade-in-0 {
  background: #8CAC89;
  opacity: 0.8;
}

.custom-modal {
  border-radius: 10px !important;
}

.custom-modal .mdl-btn {
  top: -10px;
  opacity: 1;
  border-radius: 50%;
  width: 35px;
  text-align: center;
  right: -5px;
  padding: 0;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal .mdl-btn:focus {
  border: none;
  box-shadow: unset;
}


.custom-modal .mdl-btn svg {
  color: #fff;
  text-align: center;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    color: white; /* Deactive color */
}


.swiper-button-next {
    color: black; /* Active color */
    margin-top: 19px !important;
    margin-right: -15px !important;
}
.swiper-button-prev
 {
    color: black; /* Active color */
    margin-top: 19px !important;
    margin-left: -15px !important;
}
button.active{
  @apply bg-primary;

}
button.active span{
color: #fff;
}
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 20px;
  color: #8CAC89;

}
.mdl-btn {
  display: flex;
  border-radius: 50px;
  width: 40px;
  padding: 10px 0;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
  background: black;
  opacity: 1;
}
/* .brk-points{
  margin: 10px 0;
}
.brk-points span::before{
  content: '';
  width:50%;
  height: 1px;
  @apply bg-primary;
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  z-index: 1;
  
} */